modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Game"

[[workflows.workflow]]
name = "Start Game"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38639
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[userenv]

[userenv.shared]
FIREBASE_ADMIN_TYPE = "service_account"
FIREBASE_ADMIN_PROJECT_ID = "swaroop-a03d9"
FIREBASE_ADMIN_PRIVATE_KEY_ID = "32735c25d190f5f5e6c112b5235f97f82f69b742"
FIREBASE_ADMIN_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQD1CQXEK9s35Ncz
CgH4yTgv47PE484UBWUc0wPF6F01uC2gnfBaezp6yFbtZcXLJXxpr67tGmz5BR6w
lMxGRfGkvnja2X4oN7flEsOt7Z+CYoS9cYxsnXShEBe2yjBvqaE5HrIvHB6v1++U
7uLKSnW3F8PC1K+wxF9D/yDqoIzJQafnAJ5NM3LthEXu0F+9YK0Y/08xlTcwV6Ja
4enhrZoAx5bpr0dFOEgEch5xV0k0vk/+Oyl3miByUsNXXMKZeG8pKgUP34kr5KAC
tvZ9k5WEb9LB5Si9wHqgPSBmjlizwjHLWZP6/0i4euNuTQhMEF/wprsHCZYkHyWH
fb+sezHtAgMBAAECggEAIK80KXNXIajAhiB/FDy0gVdMR3ViFqF6vKnBWELhzyza
QaR4lxXYM0uCNQ6oCZgJnqhU5hvX/qKcbf3BVaOQbOLRIXXxK2kH0KpGHGpVOgDf
IzTF1nBmwGkP1x+bH4P0xxQYX5pSWoJ5m7TM/MiGr0Pw5DEGJccE0aYz9nnYK3pR
uS+TZOLpFSF5HPQE0+WzCHvvBqZXJM5kxWNvH4g9YT4tGGXZQnq8AzLBn6h9rnDj
TvDvCy3F4c3Y3pIeLn7Kx0lB1LoOHMhXBQFgN8uqAhQXkPQGTOY0F7xJVXpVXPqY
KpZ0RqP4r5ZLNBZPn3v3Tv5sDmvYDx5yZ2XFQWyDAQKBgQD8V5nH3mF8wTrN3qJC
YjXZT0gKQPUNqH8Z7eYYX5FpHQxK5Qz7Z1mGPqN0vWFX8kH9Y5mP7Z2F4H8pF7Z3
HQKBgQD4c5Z3H8pF7Z2F4H8Y5mP7Z1mGPqN0vWFX8kH9Z0gKQPUNqH8Z7eYYX5Fp
HQxK5Qz7YjXZT0gKQPUNqH8Z7eYYX5FpHQxK5Qz7Z1mGPqN0vWFX8kH9Y5mP7Z2F
4H8pF7Z3HQKBgH5Z3H8pF7Z2F4H8Y5mP7Z1mGPqN0vWFX8kH9Z0gKQPUNqH8Z7eY
YX5FpHQxK5Qz7YjXZT0gKQPUNqH8Z7eYYX5FpHQxK5Qz7Z1mGPqN0vWFX8kH9Y5m
P7Z2F4H8pF7Z3HQKBgQD4c5Z3H8pF7Z2F4H8Y5mP7Z1mGPqN0vWFX8kH9Z0gKQPU
NqH8Z7eYYX5FpHQxK5Qz7YjXZT0gKQPUNqH8Z7eYYX5FpHQxK5Qz7Z1mGPqN0vWF
X8kH9Y5mP7Z2F4H8pF7Z3HQKBgQD4c5Z3H8pF7Z2F4H8Y5mP7Z1mGPqN0vWFX8kH
9Z0gKQPUNqH8Z7eYYX5FpHQxK5Qz7YjXZT0gKQPUNqH8Z7eYYX5FpHQxK5Qz7Z1m
GPqN0vWFX8kH9Y5mP7Z2F4H8pF7Z3HQ==
-----END PRIVATE KEY-----
"""
FIREBASE_ADMIN_CLIENT_EMAIL = "firebase-adminsdk-fbsvc@swaroop-a03d9.iam.gserviceaccount.com"
FIREBASE_ADMIN_CLIENT_ID = "100544897394107325880"
FIREBASE_ADMIN_AUTH_URI = "https://accounts.google.com/o/oauth2/auth"
FIREBASE_ADMIN_TOKEN_URI = "https://oauth2.googleapis.com/token"
FIREBASE_ADMIN_AUTH_PROVIDER_CERT_URL = "https://www.googleapis.com/oauth2/v1/certs"
FIREBASE_ADMIN_CLIENT_CERT_URL = "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40swaroop-a03d9.iam.gserviceaccount.com"
FIREBASE_ADMIN_UNIVERSE_DOMAIN = "googleapis.com"
PHONEPE_MERCHANT_ID = "MERCHANTUAT"
PHONEPE_SALT_KEY = "099eb0cd-02cf-4e2a-8aca-3e6c6aff0399"
PHONEPE_SALT_INDEX = "1"
PHONEPE_API_URL = "https://api-preprod.phonepe.com/apis/pg-sandbox"
NEXT_PUBLIC_BASE_URL = "http://localhost:5000"
